.container {
}

.row {
  display: flex;
}


.col-md-6 {
  width: 50%; 
  padding: 10px; 
}

.menuDerecho {
  

}

.menuDerecho1 {
  /* Agrega tus estilos específicos aquí */
}

.parametro {
  /* Agrega tus estilos específicos aquí */
}
