
.menu {
    font-family: Arial, sans-serif;
}

.main-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    overflow: hidden;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-menu li a:hover:not(.active) {
    background-color: #111;
}

.sub-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sub-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-menu li a:hover {
    background-color: #ddd;
}

.main-menu li:hover .sub-menu {
    display: block;
}

.menu {
    font-family: Arial, sans-serif;
}

.main-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    overflow: hidden;
}

.main-menu li {
    float: left;
}

.main-menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main-menu li a:hover:not(.active) {
    background-color: #111;
}

.sub-menu {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sub-menu li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sub-menu li a:hover {
    background-color: #ddd;
}

.main-menu li:hover .sub-menu {
    display: block;
}
